.header {
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    background-color: #ccc;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

            &-logo a {
                color: #000;
            }

        ul {
            display: flex;
            justify-content: space-around;

            li {
                margin: 0 20px;

                a {
                    text-decoration: none;
                    font-weight: 600;
                    color: #000;
                    font-size: 15px;
                }
            }
        }

    }

}

